// Colors
$black                      : #000000 !default;
$white                      : #ffffff !default;
$blue                       : #288fce !default;
$red                        : #d62839 !default;
$green                      : #018e42 !default;

$transition-base            : 0.3s ease;
